.item{
    margin: 5px;
    background: rgb(242, 95, 69);
    text-align: center;
    font-size: 1.5em;
}

.grid {
    display: grid;
}
.grid-template-columns{
    grid-template-columns: 200px 200px repeat(2,500px) ;

}

.grid-template-columns{

}

.grid-template-rows{
grid-template-rows: 100px 100px;
grid-template-columns: 1fr 1fr;
}


.it1{
    background: tomato;
}
.it2{
    background: rgb(224, 88, 88);
}
.it3{
    background:red;
}
.it4{
    background: rgb(242, 95, 69);
}

.grid-template-areas{
    grid-template-areas:
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer"
}
.logo{
    grid-area: logo;
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.sidenav {
    grid-area: sidenav;
}
.advert{
    grid-area: advert;
}
.footer{
    grid-area: footer;
}
.grid-template {
    grid-template: 
    " logo nav nav" 50px
    " sidenav content advert" 150px
    " sidenav footer footer" 100px
    / 100px 1fr 50px
}
